.logo {
    margin-bottom: 20;
}

.loginButton {
	
}

.registerButton {
	border-width: 1;
	background-color: transparent;
	color: #0055FF;
	margin-left: 10;
	margin-right: 10;
	margin-top: 65;
    padding: 10;
}